@charset "UTF-8";

body {
  /*	background-color: #2F3336;*/
  background-image: url(../images/tlo3.png?7f265ae79733166ad09cf18e63255654);
  /*   This pattern is downloaded from www.subtlepatterns.com */
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: #C0D06F;
  margin: 20px;
}

.search_interactive {
  text-align: center;
}

/*stylzacja i wysrodkowanie formularza*/
.form_interactive
{
    width: 40%;
    display: inline-block;
}

.cars {
  text-align: center;
}

.cars img {
  max-width: 100%;
  height: auto;
}

/*konfiguracja 3 kafelków na dole strony index.html*/

.kafelek > figure > a > img {
  height: 171px !important;
  width: 330px !important;
}

/*stylizacja przycisku na dole*/

.kafelek > figure > figcaption > button {
  width: 70%;
}

.cars p {
  margin-bottom: 30px;
}

.cars figcaption {
  margin-top: 8px;
}

.logo_serwisu {
  width: 30px;
  height: 30px;
}

/*niwelacja "skoku wysokości nawigacji"*/

.navbar {
  min-height: 57px;
}

/* (potrzebna zeby dodać padding na top zeby nie byla pod navbar-em)*/

body > header {
  min-height: 57px;
}

/*klasa .sticky odpowiada za "przyklejenie się navbar-a" */

.sticky {
  width: 100%;
  position: fixed;
  /* przyklejenie navbara do lewego naroznika ekranu   */
  left: 0;
  top: 0;
  z-index: 100;
  /* 3-cia wspolzedna na ekranie. Im wyzsza wartosc tym bardziej "zasłania inne elementy na stronie" */
}

/*zeby input nie rozjechał się przy widoku extra-small w bootstrap*/

.form-inline {
  width: 286px;
}

/*definicja scrollup-a na stronie*/

.scrollup {
  width: 64px;
  height: 64px;
  text-decoration: none;
  background: url(../images/up3.png?9981deab18fae6151ae05ff9d0054b02) no-repeat 0px 0px;
  position: fixed;
  /*  odległości od krawędzi ekranu  */
  right: 50px;
  bottom: 50px;
  z-index: 100;
  display: none;
}

/*efekt transition*/

.kafelek {
  transition: all 0.2s ease-in-out;
  /* Płynne przejście od skali 1 do skali 0.9. Animacja trwa 0.2s.  */
}

.kafelek:hover {
  transform: scale(0.9);
  /* określa jak div ma się przetransformować */
  /*
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
  */
}

/* Formularz kontaktowy na stronie kontakt: frontend/contact.blade.php */
.contactForm
{
    background-image: url(../images/form.png);   /*This pattern is downloaded from www.subtlepatterns.com */
    color: black;
    /*    width: 500px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /*
        -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
        -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    */
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);

    text-align: left;
}

#form1
{
    padding: 10px;
}

/*wyśrodkowanie legend w formularzu*/

#form1 > fieldset > legend
{
    text-align: center;
}

.row_formularza
{
    display: block;
    padding: 3px;
    text-align: center;
}

/*stylizacja bledow w formularzu kontaktowym*/
.czerwone
{
    color: red;
    font-weight: 700;
}

/* stylizacja formularza logowania i rejestracji  */

.card
{
    color: black !important;
    margin-bottom: 50px;
    background-color: azure;
}

/* end stylizacja formularza logowania i rejestracji */

/*stylizacja listy ul z bledami formularza*/
.ul_errors
{
    text-align: center;
    list-style-position: inside;
}

/* car_search.blade.php - wyszukane samochody */
.car_details
{
    padding: 10px;
    color: black;
    overflow: hidden;
}

.img-thumbnail
{
    background-color: #CAC5C4;
    margin-bottom: 20px;
}

/* tabela na car_reservation_blade */
.table
{
    color: white;
}

/* datepicker na car_reservation_blade. Styl wyswietli na czerwono niedostepny dzien */
.niedostepny_dzien
{
    text-decoration: line-through;
    background-color: red;
}
